!!!
%html
	%head
		%meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
		%title URL Shortner
		= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
		= javascript_include_tag 'application', 'data-turbolinks-track' => true
		= csrf_meta_tags
	%body
		%nav.navbar.navbar-expand-md.navbar-dark.fixed-top.bg-dark
			#navbarsExampleDefault.collapse.navbar-collapse
				%ul.navbar-nav.mr-auto
					%li.nav-item.active
						= link_to "Home", root_path, class: "nav-link"
							

		%main{:role => "main"}
			.jumbotron
				.container
					%h1.display-3 URL Shortner
					%p Enter the URL you need to shorten and watch the magic happen!  
			= yield
		%footer.container
			%p= "© Url Shortner #{Date.today.year}"